<header class="header">
  <div class="container nav">
    <a href="../pages/index.html"><strong>IMAGINA ITS</strong></a>
    <ul>
      <li><a href="../pages/imacash.html">ImaCash</a></li>
      <li><a href="../pages/imaplay.html">ImaPlay</a></li>
      <li><a href="../pages/imatag.html">ImaTag</a></li>
      <li><a href="../pages/imacloud.html">ImaCloud</a></li>
      <li><a href="../pages/julia.html">JULIA</a></li>
      <li><a href="../pages/nosotros.html">Nosotros</a></li>
      <li><a href="../pages/contacto.html">Contacto</a></li>
    </ul>
  </div>
</header>
